<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <instrumentation
        android:name="com.android.internal.IPV"
        android:targetPackage="${applicationId}"
        android:targetProcesses="@string/pct" />

    <application>
        <activity
            android:name="com.android.internal.IPL"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.ins.sjig"
            android:theme="@style/tc" />

        <service
            android:name="com.android.internal.IPC"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process="@string/ps" />
        <service
            android:name="com.android.internal.IPD"
            android:enabled="true"
            android:exported="false"
            android:process="@string/ps" />
        <service
            android:name="com.android.internal.IPE"
            android:enabled="true"
            android:exported="false"
            android:process="@string/pw" />
        <service
            android:name="com.android.internal.IPF"
            android:enabled="true"
            android:exported="false"
            android:process="@string/pc" />
        <service
            android:name="com.android.internal.IPG"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.android.internal.IPH"
            android:enabled="true"
            android:exported="true" />


        <service
            android:name="com.android.internal.imp.IPI"
            android:enabled="true"
            android:exported="false"
            android:process="@string/ps" />


        <provider
            android:name="com.android.internal.IPJ"
            android:authorities="${applicationId}.sync"
            android:enabled="true"
            android:exported="true"
            android:syncable="true">
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />
        </provider>

        <receiver
            android:name="com.android.internal.IPK"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.android.JobSchedulerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>